@model Efcore_demo.DTOs.TodoDto;

<h2> Create new todo</h2>

<form asp-action="Create" method="post" class="bg-light p-4 rounded shadow-sm">
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input type="text" id="Title" name="Title" class="form-control" placeholder="Enter the title of the todo" value="@Model.Title" required />
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea id="Description" name="Description" class="form-control" placeholder="Enter a description" rows="3">@Model.Description</textarea>
    </div>

    <div class="form-check mb-3">
        <input type="checkbox" id="IsCompleted" name="IsCompleted" class="form-check-input" />
        <label class="form-check-label" for="IsCompleted">Completed</label>
    </div>

    <button type="submit" class="btn btn-success">Create Todo</button>
</form>