@model Efcore_demo.DTOs.TodoDto;

<h2> Create new todo</h2>

<form asp-action="Create" method="post" class="bg-light p-4 rounded shadow-sm">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" placeholder="Enter the title of the todo" asp-for="Title" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" placeholder="Enter a description" rows="3"></textarea>
    </div>

    <div class="form-check mb-3">
        <input type="checkbox" asp-for="IsCompleted" class="form-check-input" />
        <label class="form-check-label" asp-for="IsCompleted">Completed</label>
    </div>

    <button type="submit" class="btn btn-success">Create Todo</button>
</form>